.main {
  padding: 1.2rem 1rem;
  font-size: 1.2rem;
  margin: 0 10px 0 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: rgb(194, 194, 194);
  border-bottom: 1px solid rgb(112, 112, 112);
  overflow-y: auto;
}

.main:hover {
  background-color: rgb(34, 34, 43);
  transition: 1s;
  cursor: pointer;
}
.station {
  display: flex;
  justify-content: space-between;
}
